<mat-card>
  <mat-card-header>
    <mat-card-title>Adicionar Locação</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="full-width">
        <mat-label>Data da Locação</mat-label>
        <input
          matInput
          type="date"
          formControlName="dataLoc"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Data da Devolução</mat-label>
        <input
          matInput
          type="date"
          formControlName="dataDevolucao"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Valor</mat-label>
        <input matInput currencyMask currencyMask
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          align: 'left'
        }"
     formControlName="valor" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Veículo</mat-label>
        <mat-select [(ngModel)]="veiculoSelecionado" formControlName="veiculo">
          <mat-option
            *ngFor="let veiculo of veiculos" [value]="veiculo._id"
          >
            {{ veiculo.marca }}/{{ veiculo.modelo }} {{ veiculo.ano }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cliente</mat-label>
        <mat-select [(ngModel)]="clienteSelecionado" formControlName="cliente">
          <mat-option *ngFor="let cliente of clientes" [value]="cliente._id">
            {{ cliente.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Funcionario</mat-label>
        <mat-select
        [(ngModel)]="funcionarioSelecionado"
        formControlName="funcionario"
        >
          <mat-option
            *ngFor="let funcionario of funcionarios" [value]="funcionario._id"
          >
            {{ funcionario.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
