<mat-card>

  <mat-card-header>
    <mat-card-title>Adicionar Veiculo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Placa" formControlName="placa">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Marca" formControlName="marca">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Modelo" formControlName="modelo">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Ano" formControlName="ano">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Disponível</mat-label>
        <mat-select formControlName="disponivel">
          <mat-option value="Sim">Sim</mat-option>
          <mat-option value="Nao">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Condições</mat-label>
        <mat-select formControlName="condicoes">
          <mat-option value="Perfeita">Perfeita</mat-option>
          <mat-option value="Boa">Boa</mat-option>
          <mat-option value="Ruim">Ruim</mat-option>
          <mat-option value="Pessimo">Péssimo</mat-option>
        </mat-select>
      </mat-form-field>

  </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
